@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom styles */
.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: rgb(245, 198, 26);
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.bio {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.followers,
.following,
.repo {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.followers:hover,
.following:hover,
.repo:hover {
  color: #555;
}

.followers:before,
.following:before,
.repo:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #333;
}

.followers:before {
  background-color: #b00;
}

.following:before {
  background-color: #08f;
}

.repo:before {
  background-color: #999;
}

body{
    background-color: aquamarine;
    box-sizing: border-box;
}
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: whitesmoke;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
   
}
.search-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.image{
    text-align: center;
    height: 70px;
    width:100px;
}
h1{
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    background-color: lightcoral;
    color: rgb(241, 86, 14);
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
}
.input{
    border-radius: 10px;
    border: 2px solid palevioletred;
    width: 500px;
    text-align: center;
    height: 50px;
    font-weight: bolder;
    font-size: x-large;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;    
}
.input::after{
    font-family: monospace;
    font-size: xx-large;
    border-radius: 10px;
    height: 500px;
    text-align: center;
    border: 2px solid gold;
}
button{
    text-align: center;
    border-radius: 10px;
    border: 2px solid palevioletred;
    width: 100px;
    text-align: center;
    height: 80px;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
button:hover{
    background-color: lightblue;
}
button:active{
    background-color: blue;
    font-size: large;
    
}
#user-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
 
#user-detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
